<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools" >
        <md-input-container flex-gt-xs="25" class="md-accent" style="margin-top: 36px; margin-bottom: 0px">
            <label>Пошук</label>
            <input ng-model="faculties.search" ng-change="faculties.filterByName()">
        </md-input-container>

        <p flex-gt-xs="75"></p>

        <div class="md-secondary">
            <md-button class="md-fab md-accent md-mini" ng-click="faculties.showSaveForm()">
                <md-tooltip md-direction="top">Додати</md-tooltip>
                <md-icon md-svg-src="images/ic_add_white_18px.svg"></md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>

<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">
            <div layout="row">
                <div flex-gt-xs="40">
                    <span>Назва факультету</span>
                </div>

                <div flex-gt-xs="40">
                    <span>Опис</span>
                </div>
            </div>
        </md-subheader>

        <md-list-item layout="row" ng-repeat="faculty in faculties.filtered" layout-wrap ng-cloak>
            <div flex-gt-xs="40">
                <h4>{{::faculty.faculty_name}}</h4>
            </div>

            <div flex-gt-xs="40">
                <p>{{::faculty.faculty_description}}</p>
            </div>

            <div flex-gt-xs="20" class="md-secondary">
                <md-button class="md-fab md-primary md-mini" ng-click="faculties.getGroupsByFaculty(faculty)">
                    <md-tooltip md-direction="top">Групи</md-tooltip>
                    <md-icon md-svg-src="images/ic_group_white_18px.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-primary md-mini" ng-click="faculties.showSaveForm(faculty)">
                    <md-tooltip md-direction="top">Редагувати</md-tooltip>
                    <md-icon md-svg-src="images/ic_edit_white_18px.svg"></md-icon>
                </md-button>

                <md-button class="md-fab md-primary md-mini" ng-click="faculties.removeFaculty(faculty)">
                    <md-tooltip md-direction="top">Видалити</md-tooltip>
                    <md-icon md-svg-src="images/ic_delete_forever_white_18px.svg"></md-icon>
                </md-button>
            </div>

            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>