<md-dialog aria-label="List dialog" ng-cloak style="width: 500px">
    <form name="saveForm" layout="column">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Назва факультету</label>
                        <input ng-model="form.entity.faculty_name" name="facultyName" type="text" required
                               ng-minlength="3" ng-maxlength="50">
                        <div ng-messages="saveForm.facultyName.$error" ng-if="saveForm.facultyName.$dirty">
                            <div ng-message="required">Поле обов'язкове для заповнення</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Кількість символів від 3 до 50</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column">
                    <md-input-container>
                        <label>Опис факультету</label>
                        <input ng-model="form.entity.faculty_description" name="facultyDesc" type="text" required
                               ng-minlength="5" ng-maxlength="100">
                        <div ng-messages="saveForm.facultyDesc.$error" ng-if="saveForm.facultyDesc.$dirty">
                            <div ng-message="required">Поле обов'язкове для заповнення</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Кількість символів від 5 до 100</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-fab md-primary md-mini" ng-click="form.clickSave(form.entity)"
                       ng-disabled="saveForm.$invalid">
                <md-tooltip md-direction="top">Зберегти</md-tooltip>
                <md-icon md-svg-src="images/ic_done_white_18px.svg"></md-icon>
            </md-button>

            <md-button type="reset" class="md-fab md-primary md-mini" ng-click="form.clickCancel()">
                <md-tooltip md-direction="top">Відмінити</md-tooltip>
                <md-icon md-svg-src="images/ic_clear_white_18px.svg"></md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>