<md-bottom-sheet class="md-list md-has-header" ng-cloak>
    <form name="saveForm" layout="row">
        <md-input-container flex-gt-xs="35">
            <label>Назва факультету</label>
            <input ng-model="form.entity.faculty_name" name="facultyName" type="text" required>
        </md-input-container>

        <md-input-container flex-gt-xs="45">
            <label>Опис факультету</label>
            <input ng-model="form.entity.faculty_description" name="facultyDesc" type="text" required>
        </md-input-container>

        <div flex-gt-xs="20">
            <md-button type="submit" class="md-fab md-primary md-mini" ng-click="form.clickSave(form.entity)"
                       ng-disabled="saveForm.$invalid">
                <md-tooltip md-direction="top">Зберегти</md-tooltip>
                <md-icon md-svg-src="images/ic_done_white_18px.svg"></md-icon>
            </md-button>
            <md-button type="reset" class="md-fab md-primary md-mini" ng-click="form.clickCancel()">
                <md-tooltip md-direction="top">Відмінити</md-tooltip>
                <md-icon md-svg-src="images/ic_clear_white_18px.svg"></md-icon>
            </md-button>
        </div>
    </form>
</md-bottom-sheet>