<header>
    <div layout="row" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>D-Tester</span>
                <span flex></span>

                <div class="nav-buttons" hide-xs>
                    <md-button ng-repeat="item in header.menu" ui-sref="{{::item.STATE}}">
                        {{::item.NAME}}
                    </md-button>
                </div>
                <md-menu hide-gt-xs>
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="images/ic_menu_white_24px.svg"></md-icon>
                    </md-button>

                    <md-menu-content ng-cloak>
                        <md-menu-item ng-repeat="item in header.menu">
                            <md-button ui-sref="{{::item.STATE}}">{{::item.NAME | uppercase}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </div>
</header>