<md-dialog aria-label="List dialog" ng-cloak style="width: 500px">
    <form name="saveForm">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Назва предмету</label>
                        <input ng-model="form.entity.subject_name" name="subjectName" type="text" required
                               ng-minlength="5" ng-maxlength="30">
                        <div ng-messages="saveForm.subjectName.$error" ng-if="saveForm.subjectName.$dirty">
                            <div ng-message="required">Поле обов'язкове для заповнення</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Кількість символів від 5 до 30</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="column">
                    <md-input-container>
                        <label>Опис предмету</label>
                        <input ng-model="form.entity.subject_description" name="subjectDesc" type="text" required
                               ng-minlength="5" ng-maxlength="100">
                        <div ng-messages="saveForm.subjectDesc.$error" ng-if="saveForm.subjectDesc.$dirty">
                            <div ng-message="required">Поле обов'язкове для заповнення</div>
                            <div ng-message-exp="['minlength', 'maxlength']">Кількість символів від 5 до 100</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-fab md-primary md-mini" ng-click="form.clickSave(form.entity)"
                       ng-disabled="saveForm.$invalid">
                <md-tooltip md-direction="top">Зберегти</md-tooltip>
                <md-icon md-svg-src="images/ic_done_white_18px.svg"></md-icon>
            </md-button>

            <md-button type="reset" class="md-fab md-primary md-mini" ng-click="form.clickCancel()">
                <md-tooltip md-direction="top">Відмінити</md-tooltip>
                <md-icon md-svg-src="images/ic_clear_white_18px.svg"></md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>