<md-dialog aria-label="List dialog" ng-cloak style="width: 500px">
    <form name="saveForm">
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container layout="row">
                    <label>Назва предмету</label>
                    <input ng-model="form.entity.subject_name" name="subjectName" type="text" required>
                </md-input-container>

                <md-input-container layout="row">
                    <label>Опис предмету</label>
                    <input ng-model="form.entity.subject_description" name="subjectDesc" type="text" required>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button type="submit" class="md-fab md-primary md-mini" ng-click="form.clickSave(form.entity)"
                       ng-disabled="saveForm.$invalid">
                <md-tooltip md-direction="top">Зберегти</md-tooltip>
                <md-icon md-svg-src="images/ic_done_white_18px.svg"></md-icon>
            </md-button>

            <md-button type="reset" class="md-fab md-primary md-mini" ng-click="form.clickCancel()">
                <md-tooltip md-direction="top">Відмінити</md-tooltip>
                <md-icon md-svg-src="images/ic_clear_white_18px.svg"></md-icon>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>